<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>name</label><br>
        <input type="text" name="u_name"><br>
        <label>phone number</label><br>
        <input type="number" name="ph_no"><br>
        <label>vehicle reg number</label><br>
        <input type="text" name="veh_no"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>